#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display:flex;
  border-radius: 6px;
  justify-content: center;
}

.cardMain {
  margin:10px;
  max-width: 400px;
  border:solid 1px silver;
  border-radius:6px;
  padding: 2em;
  /* box-shadow: 2px 3px 6px 1px silver; */
}

.hspacing {
  line-height: 40px;
}

.mfeTitle{
  font-size:30px;
  color:blue;
  font-weight: bold;
}

.subTitle {
  font-size:18px;
  color:green;
  font-weight: bold;
}

.mfeDesc {
 font-size:16px;
 font-weight: normal;
}

